h1 {
    margin: 0;
    text-align: center;
    padding: 0;
    font-family: 'Dosis', sans-serif;
    list-style-type: none;
}

p {
    font-size: 20px;
}

table { 
    width: 100%;
    height: 100%;
}

.cell{
    border-style: dashed;
    border-color: rgb(150, 31, 31);
}

.cell:hover{
    background-color: gray;
}

.cell:active{
    background-color: white;
}

.filled{
    /*Class for after it is filled with a symbol*/
}

#scoreboard{
    border-style: solid;
    border-color: black;
}

#game-frame{
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 700px;
}

#game-board{
    position: relative;
    width: 90%;
    height: 70%;
    margin: 1% 0 0 5%;
}


#scoreboard{
    height: 150px;
    width: 80%;
    margin: 2% 0 0 10%;
}

#reset-button, #menu-button{
    position: relative;
    margin: 5% 0 0 0;
}

#menu-button{
    margin-left: 10px;
}

#player1-score, #player2-score{
    height: 150px;
    width: 35%;
    text-align: center;
}

#player1-score{
    float: left;
}

#player2-score{
    float: right;
}

#results{
    text-align: center;
}
