h1, h2, p, button, .cell{
    font-family: 'Dosis', sans-serif;
}

h1 {
    margin: 0;
    text-align: center;
    padding: 0;
}

p {
    font-size: 20px;
}

table {
    width: 100%;
    height: 100%;
}

tr {
    height: 33%
}

.cell{
    width: 33%;
    position: relative;
    user-select: none;
    text-align: center;
    font-size: 110px;
    border-style: dashed;
    border-color: rgb(150, 31, 31);
}

.cell:hover{
    background-color: gray;
}

.cell:active{
    background-color: white;
}


#game-frame{
    position: absolute;
    margin: 0;
    margin-top: 2%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 700px;
}

#game-board{
    position: relative;
    width: 90%;
    height: 70%;
    margin: 1% 0 0 5%;
}


#scoreboard{
    height: 150px;
    width: 80%;
    margin: 2% 0 0 10%;
    border-style: solid;
    border-color: black;
}

#replay-button, #menu-button{
    position: relative;
    margin: 5% 0 0 0;
}

#replay-button{
    float: left;
}

#menu-button{
    float: right;
}

#player1-scoreboard, #player2-scoreboard{
    height: 150px;
    width: 35%;
    text-align: center;
}

#player1-scoreboard{
    float: left;
}

#player2-scoreboard{
    float: right;
}

#results{
    text-align: center;
}
