body, div, input, button, h1, ul{
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
}

#game-board, #menu-box{
    position: absolute;
    margin: 0;
    border-style: solid;
    border-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 700px;
}

#menu-box{
    border-style: none; /*Placeholder until border is removed from game board*/
}

#title{
    margin-top: 35%;
}

#fields{
    list-style-type: none;

}

#fields, .name-field{
    text-align: center;
    margin: auto;
    font-size: 20px;
}

#play-button{
    margin-top: 10px;
    font-size: 20px;
}

.name-field{
    margin-top: 10px;
    width: 300px;
}